{% extends "products/base.html" %}
{% load staticfiles %}
{% block css%}
<link href="{% static "css/3-col-portfolio.css" %}" rel="stylesheet">
<style media="screen">
  a {
    color: white;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
	
	<h1>Hello {{user.username}}</h1>
	<a class="btn btn-outline-success" href="{% url "accounts:login" %}?next={{request.path}}">Log in</a>
	<a class="btn btn-outline-danger" href="{% url "accounts:logout" %}">Log out</a>
	{# next apunta a la siguiente url luego de estar en esa pagina #}

</div>
{% endblock %}
